<mat-card class="student-card">
  <h2>All Students</h2>

  <div *ngIf="loading" class="status">Loading students...</div>
  <div *ngIf="error" class="status error">{{ error }}</div>

  <table mat-table [dataSource]="students" class="mat-elevation-z8" *ngIf="!loading && !error">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Student ID </th>
      <td mat-cell *matCellDef="let student"> {{ student.id }} </td>
    </ng-container>
    <!-- Username -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let student"> {{ student.userName }} </td>
    </ng-container>

    <!-- First Name -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let student"> {{ student.firstName }} </td>
    </ng-container>

    <!-- Last Name -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let student"> {{ student.lastName }} </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let student"> {{ student.email }} </td>
    </ng-container>

    <!-- Fee Due -->
    <ng-container matColumnDef="feeDue">
      <th mat-header-cell *matHeaderCellDef> Fee Due </th>
      <td mat-cell *matCellDef="let student"> ₹{{ student.feeDue }} </td>
    </ng-container>

    <ng-container matColumnDef="classId">
      <th mat-header-cell *matHeaderCellDef> Class Id </th>
      <td mat-cell *matCellDef="let student"> {{ student.classId }} </td>
    </ng-container>
    <ng-container matColumnDef="teacherId">
      <th mat-header-cell *matHeaderCellDef> TeacherID </th>
      <td mat-cell *matCellDef="let student"> {{ student.teacherId }} </td>
    </ng-container>
          <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let student">
          <button mat-button color="primary" (click)="updateStudent(student)">Edit</button>
          <button mat-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
        </td>
      </ng-container>
    <!-- Header and Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
<app-add-student></app-add-student>
