.announcements-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.announcement-item {
  padding: 1rem;
}

.status {
  margin-top: 1rem;
  font-weight: 500;
}

.error {
  color: red;
}
