<mat-card class="password-card">
  <h2>Change Password</h2>
  <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" formControlName="oldPassword" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Change Password</button>
  </form>
</mat-card>
