<div class="sidenav-header">
  <h2>{{ role | titlecase }}</h2>
</div>

<mat-nav-list>
  <!-- Principal specific items -->
  <ng-container *ngIf="role === 'principal'">
    <!-- <mat-list-item [routerLink]="['/principal/add-student']" *ngIf="role === 'principal'">
    <mat-icon matListIcon>person_add</mat-icon>
    <span matLine>Add Student</span>
    </mat-list-item> -->

     <!-- <mat-list-item [routerLink]="['/principal/add-teacher']" *ngIf="role === 'principal'">
    <mat-icon matListIcon>school</mat-icon>
    <span matLine>Add Teacher</span>
  </mat-list-item> -->

    <mat-list-item [routerLink]="['/principal/view-students']" *ngIf="role === 'principal'">
    <mat-icon matListIcon>people</mat-icon>
    <span matLine>Students</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/principal/view-teachers']" *ngIf="role === 'principal'">
      <mat-icon matListIcon>groups</mat-icon>
      <span matLine>Teachers</span>
    </mat-list-item>

    <!-- <mat-list-item [routerLink]="['/principal/create-announcement']" *ngIf="role === 'principal'">
  <mat-icon matListIcon>campaign</mat-icon>
  <span matLine>Create Announcement</span>
</mat-list-item> -->

<mat-list-item [routerLink]="['/principal/view-announcements']" *ngIf="role === 'principal'">
  <mat-icon matListIcon>announcement</mat-icon>
  <span matLine>Announcements</span>
</mat-list-item>


    <mat-list-item [routerLink]="['/principal/approve-leave']" *ngIf="role === 'principal'">
      <mat-icon matListIcon>notifications</mat-icon>
      <span matLine>Leave Approvals</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/principal/classes']">
    <mat-icon matListIcon>class</mat-icon>
    <span matLine>Classes</span>
  </mat-list-item>
  <mat-list-item [routerLink]="['/change-password']">
      <mat-icon matListIcon>lock</mat-icon>
      <span matLine>Change password</span>
    </mat-list-item>
  <mat-list-item [routerLink]="['/login']">
      <mat-icon matListIcon>logout</mat-icon>
      <span matLine>Logout</span>
    </mat-list-item>
<!-- 
  <mat-list-item [routerLink]="['/principal/assign-class']">
    <mat-icon matListIcon>assignment_ind</mat-icon>
    <span matLine>Assign Class (Teacher)</span>
  </mat-list-item>

  <mat-list-item [routerLink]="['/principal/assign-student']">
    <mat-icon matListIcon>group_add</mat-icon>
    <span matLine>Assign Student to Class</span>
  </mat-list-item> -->

  </ng-container>
  <ng-container *ngIf="role === 'teacher'">
    <mat-list-item [routerLink]="['/teacher/upload-material']">
      <mat-icon matListIcon>menu_book</mat-icon>
      <span matLine>Upload Study Material</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/teacher/upload-marks']">
      <mat-icon matListIcon>grade</mat-icon>
      <span matLine>Upload Marks</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/teacher/approve-leave']">
      <mat-icon matListIcon>fact_check</mat-icon>
      <span matLine>Approve Student Leave Request</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/teacher/upload-attendance']">
      <mat-icon matListIcon>assignment_turned_in</mat-icon>
      <span matLine>Upload Attendance</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/teacher/upload-announcement']">
      <mat-icon matListIcon>campaign</mat-icon>
      <span matLine>Upload Announcement</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/teacher/announcements']">
      <mat-icon matListIcon>announcement</mat-icon>
      <span matLine>View Announcements</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/teacher/request-leave']">
      <mat-icon matListIcon>event</mat-icon>
      <span matLine>Request Leave to Principal</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['/change-password']">
      <mat-icon matListIcon>lock</mat-icon>
      <span matLine>Change password</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/login']">
      <mat-icon matListIcon>logout</mat-icon>
      <span matLine>Logout</span>
    </mat-list-item>
  </ng-container>

  <!-- Student -->
 <mat-nav-list *ngIf="role === 'student'">
  <a mat-list-item routerLink="/student/pay-fees"><mat-icon>payment</mat-icon>Pay Fees</a>
  <a mat-list-item routerLink="/student/request-leave"><mat-icon>event</mat-icon>Request Leave</a>
  <a mat-list-item routerLink="/student/study-material"><mat-icon>menu_book</mat-icon>Study Material</a>
  <a mat-list-item routerLink="/student/announcements"><mat-icon>campaign</mat-icon>Announcements</a>
  <a mat-list-item routerLink="/student/marks"><mat-icon>grade</mat-icon>Marks</a>
  <a mat-list-item routerLink="/student/attendance"><mat-icon>fact_check</mat-icon>Attendance</a>
  <a mat-list-item routerLink="/student/details"><mat-icon>person</mat-icon>My Details</a>
  <a mat-list-item routerLink="/change-password"><mat-icon>lock</mat-icon>Change Password</a>
  <a mat-list-item routerLink="/login"><mat-icon>logout</mat-icon>Logout</a>
</mat-nav-list>
</mat-nav-list>
