:host {
  display: block;
  width: 250px;
  background-color: #f8f9fa;
  height: 100%;
  border-right: 1px solid #ddd;
}

.sidenav-header {
  padding: 1rem;
  text-align: center;
  background-color: #3f51b5;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

mat-list-item {
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center; /* vertically center icon and text */
  gap: 8px;
}

mat-icon[matListIcon] {
  margin-right: 7px; /* tweak spacing as you like */
  vertical-align: middle;
}

mat-list-item:hover {
  background-color: #e0e0e0;
}
